.header-text {
    margin-top: 15% !important;
    width: 57% !important;
    border-radius: 0px !important;
    margin-left: 0px !important;
    padding: 10px !important;
}
.header-text .right_side{
    margin-right: -15% !important;
}
.header-text .left_side{
    margin-left: -5% !important;
}
.right_side{
    float: right !important;
}
.blob-btn:after{
    border:none !important;
}
.blob-btn{
    background-color: #d9415d !important;
    color: #ffffff !important;
}
.polaroid-item{
    padding: 5px !important;
    margin-left: 6% !important;
}
.polaroid-item p{
    padding-top: 20px !important;
    font-size: 21px !important;
    transform: none !important;
}
section{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.section-heading{
    margin: 0px;
}
.max_wid_hei{
    max-width: 100%;
    width: 100%;
    max-height: 276px
}
.margin1{
    margin-top: 2%;
}
.header-h3{
    background: none !important;
    padding: 0px;
}
.testimonial .testimonial-pic:after{
    content: "\f10d";
    font-family: fontawesome;
    width: 26px;
    height: 26px;
    line-height: 29px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 64px;
    color: #fff;
    left: 0;
}
.testimonial .testimonial-pic{
    border: none;
    max-width: 88px;
    max-height: 73px;
    border-radius: 50%;
    float: none;
    position: relative;
    margin: 0 auto;
    transition: all 0.2s ease;
}
.card_style{
    background: #ececeb;
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
}
.testimonial{
    margin: 0px 15px 0px;
}
.section-heading::before{
    content: '';
    font-family: "";
    display: none;
}
h2{
    font-size: 42px;
}
.about_card{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    min-height: 350px
}
.left_align{
    margin-left: 25%;
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 1;
}
.about_text_ui{
    background-color: #f5e8ef;
    position: relative;
    padding: 20px 10px 20px 129px;
    border-radius: 20px;
    margin-top: 2.5%;
    min-height: 248px;
}
p{
    color: #000;
    font-weight: 500;
}
.mb-3{
    margin-bottom: 3%;
}
.cake-ornament{
    background-image: url("/img/caketopbg.png") !important;
    background-repeat: no-repeat;
}
.blob-btn{
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius : 10px;
    padding: 10px 20px;
    border: none;
}
h5{
    font-size: 26px;
    margin-bottom: 0px;

}
.blog-prev .blog-caption{
    padding: 1px 25px 0px 35px;
}
.flavor_img{
    height: 250px;
}
.blog-prev{
    border-radius: 20px;
    border: 1px solid #73c3ba;
}
.flavor_btn{
    font-weight: 500 !important;
    font-size: 13px !important;
    font-family: "Karla", sans-serif;
}
.owl-prev, .owl-next{
    top: 35% !important;
}
.ice_cream_pills{
    display: flex;
    justify-content: center;
}
.ice_cream_pills .icon{
    font-size: 23px !important;
    margin-bottom: 0px !important;
    padding: 5px !important;
    min-width: 150px;
}
.ice_cream_pills > li.active > a{
    padding: 0px 26px !important;
    margin: 4px 40px !important;
    font-size: 19px;
    font-weight: 500;
}
.ice_cream_pills > li > a{
    padding: 0px 26px !important;
    margin: 4px 40px !important;
    font-size: 19px;
    font-weight: 500;
}
.icream_cards img{
    /* background-color: #ffffff; */
    border-radius: 15px;
    border: none;
    max-height: 193px;
    height: 193px;
}
.ice_cream_tab>.active{
    padding: 10px 60px;
}
.icream_text_card{
    background-color: rgba(255,255,255,0.85);
    font-size: 24px;
    text-align: center;
    width: calc(100% - 40px);
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    background: rgba(255,255,255,0.85);
    margin: 11px;
    border-radius: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-left: 36px;
    width: 80%;
    font-weight: 600;
    font-family: 'Cherry Swash'
}
/* .icream_cards:hover .under_border:hover{
    background-color: blue;
    width: 50%;
} */
.mb-1{
    margin-bottom: 2%;
}
/* .w-75{
    width: 112px;
    top: 41px;

} */
.navbar-brand-centered img{
    top: 20%;
    width: 112px;
}
.party_icon{
    border-radius: 50%;
    /* border: 3px solid #fa7684; */
    height: 98px;
    width: 26%;
}
.party_icon .img_2{
    width: 95%;
    margin-left: 3%;
    margin-top: 20%;
}

    .party_icon .img_3 {
        width: 100%;
        margin-left: 5%;
        margin-top: 36%;
    }
.party_icon .img_1{
    width: 100%;
    margin-left: 11%;
    margin-top: 7%;
}
.party_heading{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Cherry Swash',serif;
    color: #5c5c5c;
}
.ml-4{
    margin-left: 4%;
}
.mt-7{
    margin-top: 7%;
}
.mr-4{
    margin-right: 12%;
}
.ice_cream_mid img{
    width: 100%;
    margin-top: 83% ;
}

@media only screen and (max-width:990px){
    .about_text_ui{
    padding: 0px 0px 0px 0px;
    }
    .ice_cream_pills{
    display: grid;
    }
    .f23{
        height: 80px;
    }
    .mt-12{
        margin-top: 0px!important;
    }
    .mobi_no_pad{
    padding: 0px !important;
    }
    .ice_cream_tab>.active{
    padding: 0px !important;
    }
    .party_icon{
    border: 0px;
    }
    .party_heading{
    margin-left: 70px;
    }
    .party_icon .img_1{
    margin-top: -212px;
    }
    
    .party_icon .img_2{
    margin-top: -215px;
    }
    .party_icon .img_3{
    margin-top: -214px;
    }
    
    .mt-7 .img_1{
    margin-top: 104px;
    }
    
    .mob_pad{
    margin-top: -80px;
    }
    .ice_cream_mid img{
    margin-top: -40px;
    }
    
    .mob_pad_1{
    margin-top: 0px;
    }
    }
.ls-bg-wrap:after, .ls-slide-transition-wrapper:before{
    background: linear-gradient(to top, rgba(250, 102, 120, 0.38) 0%,rgba(250, 102, 120, 0.42) 1%,rgba(255,255,255,0) 100%) !important;
}
.blob-btn.btn-lg{
    padding: 13px 30px !important;
    font-size: 22px !important;
}
.hoverable_img:hover img{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out; 
}
.cake-white{
    background-color: #ffffff;
    background: none !important;
}
.contact_ices1{
    margin-top: 18px !important;
}
.social-media i{
    font-size: 23px !important;
    width: 45px !important;
    margin: 0px !important;
    color: #fff !important;
    height: 0px !important;
    line-height: 50px !important;
    display: inline-block !important;
    text-align: center !important;
    text-shadow: 2px 2px 0 #613b41 !important;
    transition: all 0.5s !important;
}
.p-10{
    padding: 0px 0px 0px 0px;
 
}
.mt-10px{
    margin-top: 10px;
}
.end_text{
    text-align: end;
}
.tab-content>.active{
    background: #ffffff !important;
}
.menu-item-price{
    background: #ffffff !important;   
}
.nav-pills>li>a{
    box-shadow: 4px 3px 2px rgba(103, 102, 102, 0.12) !important;
}
/* .nav-pills.pills-custom >li>a{
    background: #ececeb !important;
} */
.order_img{
    width: 10%;
}
.header-top i{
    color: #ffffff;
}
.ml-2{
    margin-left: 2%;
}
.text_white{
    color: #fff;
}
.offer_tag{
    width: 10%;
}
.mt-12{
    margin-top: -12px;
}
.ml-29px{
    margin-left: -29px !important;
}
.section-heading:after{
    margin-top: 4px;
    margin-bottom: 10px;
}
.section-heading h2{
    margin-bottom: 0px !important;
}
.menu-body{
    padding-top:0px !important;
}
.tab-content>.active{
    padding: 20px 60px 60px 60px;
}
@media only screen and (max-width: 320px){
    .mobi_text{
        font-size: 14px;
    }
    .party_icon {
        border-radius: 50%;
        /* border: 3px solid #fa7684; */
        /* height: 98px; */ 
        width: 26%;
    }

    .party_icon {
        border-radius: 50%;
        /* border: 3px solid #fa7684; */
        height: 10px;
        width: 26%;
    }
    
    .res-margin{
        margin-top: 20%;
    }
    .right_side {
        float: right !important;
        margin-top: -20px;
    }

    /* .w-75 {
    width: 112px;
    top: -42px!important;
} */
    .navbar-brand-centered{
        right: auto;
        left: 0px;
    }
    .w-75{
        width: 80px;
    }
    .navbar-toggle{
        padding: 0px 10px !important;
    }
    .about_text_ui{
        padding: 10px;
        margin: 10px;
    }
    .owl-dots{
        display: none !important;
    }
    .party_icon .img_1{
        margin-top: -227px;
        width: 100%;
    }
    .party_icon .img_2{
        margin-top: -227px;
        width: 140%;
    }
    .mr_5{
        margin-right: 18%
    }
    .party_heading{
        margin-left: 51px;
    }
    .party_icon .img_3{
        margin-top: -227px;
        width: 149%;
    }
    .img_mobile{
        margin-top: 20px !important;
        width: 100% !important;
    }
    .timeline-year{
        display: none;
    }
    .mobile_iframe iframe{
        width: 290px !important;
    }
    .mobile_footer_text p{
        font-size: 12px;
    }
    .mobile_ul{
        text-align: center;
    }
    
}
@media only screen and (min-width: 375px) and (max-width: 400px){
    .mobi_text{
        font-size: 14px;
    }
    .header-text .right_side {
        margin-right: -5% !important;
        margin-top: -40px;
    }
    
    .navbar-brand-centered{
        right: auto;
        left: 0px;
    }
    .about_text_ui{
        padding: 10px;
        margin: 10px;
    }
    .owl-dots{
        display: none !important;
    }
    .party_heading{
        margin-left: 51px;
    }
    .party_icon .img_3{
        margin-top: -225px;
        width: 149%;
    }
    .img_mobile{
        margin-top: 90px !important;
        width: 145% !important;
    }
    .mr_5{
        margin-right: 18%
    }
    .party_icon .img_2{
        margin-top: -220px;
        /* width: 140%; */
    }
    .party_icon .img_1{
        margin-top: -186px;
    }
    .timeline-year{
        display: none;
    }
    
.party-card1{
    margin-top: 10px;
}
.part{
    margin-bottom: 87px;

}
.raw{
    margin-bottom: 30%;
}
}


@media only screen and (min-width: 400px) and (max-width: 480px){
    .mobi_text{
        font-size: 14px;
    }
    .img_mobile1{
        margin-top:76px;
    }
    .navbar-brand-centered{
        right: auto;
        left: 0px;
    }
    .about_text_ui{
        padding: 10px;
        margin: 10px;
    }
    .owl-dots{
        display: none !important;
    }
    .party_heading{
        margin-left: 51px;
    }
    .party_icon .img_3{
        margin-top: -177px;
        width: 149%;
    }
    .img_mobile .imag{
        margin-top: 85px !important;
        width: 145% !important;
    }
    .mr_5{
        margin-right: 18%
    }
    .party_icon .img_2{
        margin-top: -173px;
        /* width: 140%; */
    }
    .party_icon .img_1{
        margin-top: -186px;
        margin-left: -16%;
    }
    .mr-4{
        margin-right: 1% !important;
    }
    .timeline-year{
        display: none;
    }
}
.border-style{
    border-radius: 3px !important;
}
.nav-pills>li>.border-style:hover{
    font-size: 20px !important;
    font-weight: 500 !important;
}
.section-head{
    font-weight: 400;
}




@media only screen and (max-width: 400px) and (min-width: 375px){
.img_mobile1 {
    margin-top: 70px !important;
    width: 145% !important;
}
}





/* mystyle */
.main-timeline{
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    padding: 0 40px 0 0;
    margin: 0 50px 0 0;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content{
    background-color: #f5f5f5;
    min-height: 140px;
    padding: 20px 60px 20px 20px;
    border-radius: 20px 10px 10px 20px;
    box-shadow: 0 0 15px -5px #555;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #fff;
    background-color: #40134c;
    font-size: 45px;
    text-align: center;
    line-height: 80px;
    height: 80px;
    width: 80px;
    border-radius: 10px 10px 0 10px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -40px;
    z-index: 1;
}
.main-timeline .timeline-icon:after{
    content: '';
    background: linear-gradient(to left top,transparent 49%, #40134c 50%);
    height: 20px;
    width: 40px;
    position: absolute;
    right: 0;
    top :100%;
}
.main-timeline .title{
    color: #40134c;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.main-timeline .description{
    color: #555;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    padding: 0 0 0 40px;
    margin: 0 0 0 50px;
    float: right;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 20px 20px 20px 60px;
    border-radius: 10px 20px 20px 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    border-radius: 10px 10px 10px 0;
    right: auto;
    left: -40px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{
    transform: rotateY(180deg);
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{ background-color: #ff4300; }
.main-timeline .timeline:nth-child(4n+2) .timeline-icon:after{
    background: linear-gradient(to left top,transparent 49%, #d63804 50%);
}
.main-timeline .timeline:nth-child(4n+2) .title{ color: #ff4300; }
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{ background-color: #0652DD; }
.main-timeline .timeline:nth-child(4n+3) .timeline-icon:after{
    background: linear-gradient(to left top,transparent 49%, #003eaa 50%);
}
.main-timeline .timeline:nth-child(4n+3) .title{ color: #0652DD; }
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{ background-color: #a504db; }
.main-timeline .timeline:nth-child(4n+4) .timeline-icon:after{
    background: linear-gradient(to left top,transparent 49%, #8205af 50%);
}
.main-timeline .timeline:nth-child(4n+4) .title{ color: #a504db; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        padding: 40px 0 0 40px;
        margin-bottom: 20px;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        border-radius: 10px 10px 10px 0;
        transform: translateY(0);
        top: -40px;
        left: -40px;
        right: auto;
    }
    .main-timeline .timeline-icon:after{
        transform: rotateY(-180deg);
        right: auto;
        left: 0;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 60px 20px 20px;
    }
}
@media screen and (max-width:567px){
    .main-timeline .title{ font-size: 18px; }
}

/* end my style */