
  :root{
    --white: #fff;
    --gr-color1: #FACC1E;
    --gr-color2: #FF7924;
    --gr-color3: #00C0A7;
    --gr-color4: #00E97C;
    --gr-color5: #FC4365;
    --gr-color6: #FE6229;
    --gr-color7: #009AFC;
    --gr-color8: #E75A7D;
}
.serviceBox{
    background-color: var(--white);
    font-family: 'Niramit', sans-serif;
    text-align: center;
    margin: 30px 15px;
    border: 1px solid transparent;
    box-shadow: -5px -5px 0 0 rgba(0,0,0,0.1);
    position: relative;
}
.serviceBox .service-icon{
    color: var(--white);
    /* background: linear-gradient(45deg,var(--gr-color1),var(--gr-color1),var(--gr-color2)); */
    font-size: 60px;
    line-height: 120px;
    height: 120px;
    width: 120px;
    margin: -35px auto 20px;
    border-radius: 50%;
    transition:all 0.3s;
}
.serviceBox:hover .service-icon{
    text-shadow: 0 0 2px #333;
    box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color2);
}
.serviceBox .title{
    color: var(--white);
    background: linear-gradient(45deg,var(--gr-color2),var(--gr-color2),var(--gr-color1),var(--gr-color1));
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 0 -15px 10px;
    display: block;
    position: relative;
}
.serviceBox .title:before,
.serviceBox .title:after{
    content: '';
    background: linear-gradient(45deg, transparent 49%, #a5480e 50%);
    height: 15px;
    width: 14px;
    position: absolute;
    left: 0;
    top: 100%;
}
.serviceBox .title:after{
    background: linear-gradient(225deg, transparent 49%, #a5480e 50%);
    top: auto;
    bottom: 100%;
    left: auto;
    right: 0;
}
.serviceBox .description{
    color: #666;
    font-size: 15px;
    line-height: 25px;
    padding: 0 10px 10px;
}



.IMG_333{
    height: 30px;
    width: auto;
 }
 .IMG_3333{
     height: 40px;
     width: auto;
 }

 
/* .serviceBox.green .service-icon{
    background: linear-gradient(45deg,var(--gr-color3),var(--gr-color3),var(--gr-color4));
} */
.serviceBox.green:hover .service-icon{
    box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color3);
}
.serviceBox.green .title{
    background: linear-gradient(45deg,var(--gr-color3),var(--gr-color3),var(--gr-color4),var(--gr-color4));
}
.serviceBox.green .title:before{
    background: linear-gradient(45deg, transparent 49%, #057264 50%);
}
.serviceBox.green .title:after{
    background: linear-gradient(225deg, transparent 49%, #08894b 50%);
}
.serviceBox.pink .service-icon{
    background: linear-gradient(45deg,var(--gr-color5),var(--gr-color5),var(--gr-color6));
}
.serviceBox.pink:hover .service-icon{
    box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color5);
}
.serviceBox.pink .title{
    background: linear-gradient(45deg,var(--gr-color5),var(--gr-color5),var(--gr-color6),var(--gr-color6));
}
.serviceBox.pink .title:before{
    background: linear-gradient(45deg, transparent 49%, #a80624 50%);
}
.serviceBox.pink .title:after{
    background: linear-gradient(225deg, transparent 49%, #ad350a 50%);
}
.serviceBox.blue .service-icon{
    background: linear-gradient(45deg,var(--gr-color7),var(--gr-color7),var(--gr-color8));
}
.serviceBox.blue:hover .service-icon{
    box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color7);
}
.serviceBox.blue .title{
    background: linear-gradient(45deg,var(--gr-color7),var(--gr-color7),var(--gr-color8),var(--gr-color8));
}
.serviceBox.blue .title:before{
    background: linear-gradient(45deg, transparent 49%, #0d6ca8 50%);
}
.serviceBox.blue .title:after{
    background: linear-gradient(225deg, transparent 49%, #a30d30 50%);
}
@media only screen and (max-width:990px){
    .serviceBox{ margin: 40px 10px 60px; }
}
.caketopbg{
    background-image: url(../img/caketopbg.png)
}
/* ------contact--- */
.fonts{
    font-size: 17px!important;
}
.fonts1{
    font-size: 18px;
}
.fonts2{
    font-size: 28px;
}
.verticals{
    right: 100px;
}
.cake-ornament{
    overflow-x: hidden;
}
.contact_ices{
    margin-top: 27px;
}
.contact_ices1{
    margin-top: 40px;
}
.bg-1{
    padding-top:35px ;
    }
    .header-top {
    /* / padding-top: 35px; / */
    position: relative;
    z-index: 2;
    height: 41px;
    background-image: linear-gradient(to right top, #e8362e, #e23f37, #db473f, #d44e47, #cd544e);
    /* background: linear-gradient(90deg, rgb(223, 179, 162) 0%, rgb(231, 143, 92) 0%, rgb(239, 179, 156) 100%); */
    }
    .mr_5{
        margin-right: 35%;
    }

    @media only screen and (max-width:990px){
        .bg-img{
            display: none;
        }
        /*slider css*/

        .card-two {
            margin-top: 35px;
    }
    .card_three{
        margin-top: 35px;
    }
    .navbar-brand-centered {
        top: 0px;

    }
    .responsivesive{
        overflow-x: hidden;
    }
    .pl-100{
        padding-right:0px!important;
       }

    .mtop-110{
    margin-top: 30%;
}
}


/*--scrollbar css:--*/


::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
border-radius: 0px;
background-color: #fafafa;
}

::-webkit-scrollbar {
width: 7px;
height: 7px;
background-color: #2d4c9c;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
background-color: red;
}

/*scroll up  css--*/

.back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 8px;
    z-index: 119;
    }
    .back-to-top i {
        display: block;
        width: 44px;
        border-radius: 50%;
        height: 44px;
        line-height: 40px;
        font-size: 22px;
        color: #fff!important;
        text-align: center;
        transition: all 0.2s ease-in-out;
        box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
        }


 .pl-100{
         padding-right:160px;
        }
        .mgf{
            margin-left: -19%;
        }



        .nav-pills>li>a:hover{
            box-shadow: 10px 7px 1px rgba(103, 102, 102, 0.12) !important;
        }




        /* .....my style.css */
        /* .ls-container, body .ls-container, #ls-global .ls-container{
    height: 550px !important;
} */
/* .header-wrapper .header-text{
    margin-top: 11% !important;
} */
.header-text{
    padding: 9px !important;
}
.ls-wrapper .ls-bg-outer{
    height: 550px !important;
}
.section-heading{
    text-align: center;
    margin: 0px auto 25px;
}
.res-margin{
    margin-top: 2%;
}
.party-card1{
    background-color: #F69753;
    color: #fff;
    margin: 2%;
    border-radius: 15px;
}
.party-card2{
    background-color: #73c3ba;
    color: #fff;
    margin: 2%;
    border-radius: 15px;
}
.party-card3{
    background-color: #FA6678;
    color: #fff;
    margin: 2%;
    border-radius: 15px;
}
.party-card3:hover{
    transform: scale(1.1);
    box-shadow: 2px -4px 15px 2px #c5c4c4;
    transition: all 0.7s ease-in-out;
}
.party-card2:hover{
    transform: scale(1.1);
    box-shadow: 2px -4px 15px 2px #c5c4c4;
    transition: all 0.7s ease-in-out;
}
.party-card1:hover{
    transform: scale(1.1);
    box-shadow: 2px -4px 15px 2px #c5c4c4;
    transition: all 0.7s ease-in-out;
}
.rent-img{
    width: 13%;
}
.sub-heading{
    font-size: 18px;
    font-weight: 700;
}


.serviceBox{
    background-color: var(--white);
    text-align: center;
    margin: 30px 15px;
    border: 1px solid transparent;
    box-shadow: -5px -5px 0 0 rgba(0,0,0,0.1);
    position: relative;
}
.serviceBox .service-icon{
    color: var(--white);
    /* background: linear-gradient(45deg,var(--gr-color1),var(--gr-color1),var(--gr-color2)); */
    font-size: 60px;
    line-height: 120px;
    height: 120px;
    width: 120px;
    margin: -35px auto 20px;
    border-radius: 50%;
    transition:all 0.3s;
}
.serviceBox:hover .service-icon{
    text-shadow: 0 0 2px #333;
    box-shadow: 0 0 0 7px var(--white) inset, 0 0 0 10px var(--gr-color2);
}
.serviceBox .title{
    color: var(--white);
    background: linear-gradient(45deg,var(--gr-color2),var(--gr-color2),var(--gr-color1),var(--gr-color1));
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 0 -15px 10px;
    display: block;
    position: relative;
}
.serviceBox .title:before,
.serviceBox .title:after{
    content: '';
    background: linear-gradient(45deg, transparent 49%, #a5480e 50%);
    height: 15px;
    width: 14px;
    position: absolute;
    left: 0;
    top: 100%;
}
.serviceBox .title:after{
    background: linear-gradient(225deg, transparent 49%, #a5480e 50%);
    top: auto;
    bottom: 100%;
    left: auto;
    right: 0;
}
.serviceBox .description{
    color: #666;
    font-size: 15px;
    line-height: 25px;
    padding: 0 10px 10px;
}
:root{
    --white: #fff;
    --gr-color1: #FACC1E;
    --gr-color2: #FF7924;
    --gr-color3: #00C0A7;
    --gr-color4: #00E97C;
    --gr-color5: #FC4365;
    --gr-color6: #FE6229;
    --gr-color7: #009AFC;
    --gr-color8: #E75A7D;
}
.margin11{
    margin-top: 11%;
}
.owl-carousel .owl-item{
    /* background-color: #fff; */
    padding: 15px;
    border-radius: 15px;
}